<h1 class="mat-headline">What is typography?</h1>
<p class="mat-body-1">
    What is typography? Typography is a way of arranging type to make text legible, readable, and appealing when displayed. Angular Material's typography is based on the guidelines from the Material Design spec and is arranged into typography levels. Each
    level has a font-size, line-height and font-weight. The available levels are: display-4, display-3, display-2 and display-1 - Large, one-off headers, usually at the top of the page (e.g. a hero header). headline - Section heading corresponding to
    the
</p>
<hr>
<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">warn</button>
<hr>

<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">warn</button>
<hr>